<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Map with Search and Directions</title>
    <style>
        body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #343a40, #495057);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
}

.nav-link {
  color: white;
  margin-right: 1.5rem;
  font-size: 1rem;
}

.nav-link:hover {
  color: #f8f9fa;
}

.navbar-toggler {
  border-color: white;
}

.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #495057;
}
        #map {
            height: 80%;
            width: 100%;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #search-container {
            display: flex;
            justify-content: center;
            margin: 10px 0;
        }
        #search-input {
            width: 300px;
            padding: 5px;
        }
        #search-button {
            padding: 5px;
        }
    </style>
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="/public/img/logo.png" alt="">
      DEADDICTION
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:3000/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Guidance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3009/">Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if (username) { %>
              <a class="dropdown-item" href="profile.ejs">Profile</a>
              <a class="dropdown-item" href="http://localhost:3000/login">Logout</a>
            <% } else { %>
              <a class="dropdown-item" href="/login">Login</a>
            <% } %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Search for places">
        <button id="search-button">Search</button>
    </div>
    <div id="map"></div>
    <script>
        var map, service, infowindow, pos, directionsService, directionsRenderer, userMarker;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14
            });
            infowindow = new google.maps.InfoWindow();
            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    map.setCenter(pos);

                    userMarker = new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: "You are here!"
                    });

                    service = new google.maps.places.PlacesService(map);

                    // Initial search for nearby places and rehab center
                    searchPlaces('rehab center');
                    // searchPlaces('Vazhikatti Mental health');

                    // Update user's location every 5 seconds
                    setInterval(updateUserLocation, 5000);
                }, function() {
                    handleLocationError(true, map.getCenter());
                });
            } else {
                handleLocationError(false, map.getCenter());
            }

            document.getElementById('search-button').addEventListener('click', function() {
                var query = document.getElementById('search-input').value;
                if (query) {
                    console.log('Searching for: ' + query);
                    searchPlaces(query);
                }
            });
        }

        function updateUserLocation() {
            navigator.geolocation.getCurrentPosition(function(position) {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                userMarker.setPosition(pos);
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, map.getCenter());
            });
        }

        function searchPlaces(query) {
            if (!pos) {
                console.error('Position is not defined');
                return;
            }

            var request = {
                location: pos,
                radius: '5000',
                keyword: query
            };

            console.log('Request:', request);

            service.nearbySearch(request, function(results, status) {
                console.log('Results:', results, 'Status:', status);
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    clearMarkers();
                    for (var i = 0; i < results.length; i++) {
                        createMarker(results[i], query);
                    }
                } else {
                    console.error('Search was not successful for the following reason: ' + status);
                }
            });
        }

        function createMarker(place, query) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location,
                icon: query === 'rehab center' ? 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' : 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
            });

            google.maps.event.addListener(marker, 'click', function() {
                var content = '<div><strong>' + place.name + '</strong><br>';
                if (place.photos && place.photos.length > 0) {
                    content += '<img src="' + place.photos[0].getUrl({maxWidth: 200, maxHeight: 200}) + '"><br>';
                }
                content += '</div>';
                infowindow.setContent(content);
                infowindow.open(map, this);
                calculateAndDisplayRoute(place.geometry.location);
            });

            markers.push(marker);
        }

        function calculateAndDisplayRoute(destination) {
            directionsService.route({
                origin: pos,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            }, function(response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsRenderer.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers = [];
        }

        function handleLocationError(browserHasGeolocation, pos) {
            infowindow.setPosition(pos);
            infowindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infowindow.open(map);
        }

        var markers = [];
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfZk0O9LtdbGphzBBOQVvHy_0_8y3Q6R8&libraries=places&callback=initMap"></script>
</body>
</html>
